[submodule "CommonSDK"]
	path = CommonSDK
	url = https://github.com/a494008974/CommonSDK.git
[submodule "CommonRes"]
	path = CommonRes
	url = https://github.com/a494008974/CommonRes.git
[submodule "CommonService"]
	path = CommonService
	url = https://github.com/a494008974/CommonService.git
